@{
    ViewData["Title"] = "GO Home";
    
}
<header class=text-center>
    <h1 class="display-5">Welcome</h1>
</header>
    <div class="text-center">
        <ul class="mx-auto p-5 w-25 bg-dark text-white list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Go" asp-action="Upload">Quick Start</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="AccountData" asp-action="Create">Create Account</a>
        </ul>
    </div>

