@{
    ViewData["Title"] = "Upload";
}
@section Nav{}
@section LoginNav{}
@section CreateAccountNav{}

<div class="text-center">
    <h1 class="display-4">Upload Page</h1>
    <p>Specify which files you wish to organize here</p>
</div>
<div>
    
</div>
